.menu-bg {
    background-color: #efc597;
    padding: 20px;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.menu {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center
}

.logo {
    font-size: 2.25em;
    font-weight: bold;
    margin: 0 10px;
}

.menu-nav ul {
    display: flex;
    flex-wrap: wrap;
}

.menu-nav a {
    font-size: 1.25em;
    padding: 10px;
    color: black;
}

.menu-nav a:hover{
    color: #ca9168;
}

/*Intro*/

.intro {
    background: url("../img/home.jpg") center no-repeat;
    background-size: cover;
    padding: 150px 0;
    width: 100%;
}

.intro h1 {
    text-align: center;
    font-size: 3em;
    color: #f7f7f7;
}

.intro p {
    text-align: center;
    font-size: 1.25em;
    color: #f7f7f7;
    font-style: italic;
}

.intro p:before {
    content: '';
    display: block;
    height: 3px;
    width: 50px;
    background-color: #f7f7f7;
    margin: 10px auto;
}
.intro p:after {
    content: '';
    display: block;
    height: 3px;
    width: 50px;
    background-color: #f7f7f7;
    margin: 10px auto;
}

/*serviços*/

.servicos-bg {
    background-color: #F0D9C2;
    padding: 60px 0;
}

.servicos-bg h2 {
    text-align: center;
    font-size: 2.25em;
    padding-bottom: 10px;
}

.servicos-bg p {
    text-align: center;
    font-style: italic;
    font-size: 1.25em;
    max-width: 500px;
    margin: 0 auto;
    padding-bottom: 30px;
}

.servicos {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.servicos-items {
    flex: 1 1 200px;
    background-color: #F0C290;
    margin: 10px 20px;
    padding: 25px 15px;
    text-align: center;
    border-radius: 5px;
}

.servicos-items h3{
    font-size: 2em;
}

.servicos-items p {
    font-style: italic;
    font-size: 1em;
}

.servicos-items img {
    padding-top: 20px;
    margin: 0 auto;
}

/*Animais*/

.animais h2 {
    text-align: center;
    font-size: 2.25em;
    margin: 60px 0 20px 0;
}

.animais p {
    max-width: 500px;
    font-style: italic;
    font-size: 1.25em;
    margin: 0 auto;
    padding-bottom: 30px;
}

.animais {
    max-width: 960px;
    margin: 0 auto;
}

.animais-fotos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1;
}

.animais-fotos img {
    margin-right: 20px;
    margin-top: 30px;

}

/*Time*/

.time-container {
    max-width: 960px;
    margin: 0 auto;
}

.time-container h2 {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 30px;
    font-size: 2.25em;
}


.time {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.time p {
    max-width: 500px;
    font-style: italic;
    font-size: 1.25em;
    margin: 30px auto;
}

.time-container p {
    max-width: 500px;
    font-style: italic;
    font-size: 1.25em;
    margin: 30px auto;
}

/*Localização*/

.mapa h2 {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 2.25em;
}

.mapa div iframe {
    width: 100%;
}

/*contato*/

.contato-container {
    max-width: 960px;
    margin: 0 auto;
}

.contato-container h2 {
    font-size: 2.25em;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 30px;
}

.contato {
    display: flex;
    justify-content: space-between;
}

.endereco {
    line-height: 50px;
    font-size: 1.125em;
    font-weight: bold;
}

.formu label {
    font-size: 1.25em;
    font-weight: bold;
}

.formu input, .formu textarea{
    width: 300px;
    height: 40px;
    margin-bottom: 10px;
    border: 2px solid #000000;
}

.form-email input {
    margin-left: 33px;
}

.form-nome input {
    margin-left: 37px;
}

.form-telefone input{
    margin-left: 15px ;
}

.form-text textarea {
    margin-left: 11px;
}

.btn {
    border: 3px solid #000000;
    padding: 15px;
    text-align: center;
    color: black;
    font-weight: bold;
}

.btn:hover {
    border-color: #efc597;
    color: #efc597;
}



